@import "tailwindcss";

@theme {
  --color-barivia-blue: #0066CC;
  --color-barivia-dark: #003366;
  --color-barivia-gray: #646464;
  --color-barivia-light: #F0F5FC;
  --color-barivia-white: #FFFFFF;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
